apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mullvad
type: Opaque
stringData:
  wg1.conf: |
    [Interface]
    PrivateKey = {{ .Values.mullvad.privateKey }}
    Address = {{ .Values.mullvad.address }}
    Table = 55111
    PostUp = iptables -I FORWARD -i wg0 -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o %i -j MASQUERADE; ip rule add pref 10001 from {{ .Values.wireguard.internalSubnet }} lookup 55111
    PreDown = iptables -D FORWARD -i wg0 -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o %i -j MASQUERADE; ip rule del from {{ .Values.wireguard.internalSubnet }} lookup 55111

    [Peer]
    PublicKey = {{ .Values.mullvad.publicKey }}
    Endpoint = {{ .Values.mullvad.endpoint }}
    AllowedIPs = 0.0.0.0/0
    PersistentKeepalive = 25
