apiVersion: v1
kind: Secret
metadata:
  name: wg-peer-config
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
type: Opaque
stringData:
  wg0.conf: |
    [Interface]
    Address = {{ .Values.peer.address }}
    PrivateKey = {{ .Values.peer.privateKey }}
    DNS = {{ .Values.dns }}
    MTU = 1320

    [Peer]
    PublicKey = {{ .Values.wireguard.publicKey }}
    PresharedKey = {{ .Values.peer.presharedKey }}
    Endpoint = {{ .Release.Name }}.{{ .Release.Namespace }}.svc.cluster.local:51820
    AllowedIPs = 0.0.0.0/0
    PersistentKeepalive = 25
