apiVersion: v1
kind: ConfigMap
metadata:
  name: garage-config
  namespace: garage
data:
  garage.toml: |
    metadata_dir = "/mnt/meta"
    data_dir = "/mnt/data"
    db_engine = "lmdb"
    block_size = 1048576
    replication_factor = 2
    consistency_mode = "consistent"
    compression_level = 1
    rpc_bind_addr = "[::]:3901"
    bootstrap_peers = []

    [kubernetes_discovery]
    namespace = "garage"
    service_name = "garage"
    skip_crd = false

    [s3_api]
    s3_region = "garage"
    api_bind_addr = "[::]:3900"
    root_domain = ".s3.garage.tld"

    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".web.garage.tld"
    index = "index.html"

    [admin]
    api_bind_addr = "[::]:3903"
    admin_token = "{{ .Values.garage.adminToken }}"
