apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: grafana
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.golden.wales`)
      kind: Rule
      services:
        - name: grafana
          port: 80
  tls: {}
