apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: hubble
  namespace: kube-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`hubble.golden.wales`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: traefik
      services:
        - name: hubble-ui
          port: 80
  tls: {}
