apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`longhorn.golden.wales`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: traefik
      services:
        - name: longhorn-frontend
          port: 80
  tls: {}
