{{- if .Values.cloudflare.apiToken }}
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: traefik
spec:
  defaultCertificate:
    secretName: golden-wales-tls
{{- end }}
