{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ .Values.ingress.host }}`)
      kind: Rule
      {{- if .Values.ingress.authentik }}
      middlewares:
        - name: authentik
          namespace: traefik
      {{- end }}
      services:
        - name: {{ .Release.Name }}
          port: 80
  tls: {}
{{- end }}
