image:
  repository: nodered/node-red
  tag: latest
  pullPolicy: Always

port: 1880

persistence:
  enabled: true
  size: 1Gi
  storageClass: longhorn

ingress:
  enabled: true
  host: node-red.example.com

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
