{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ .Values.ingress.host }}`)
      kind: Rule
      middlewares:
        - name: authentik
          namespace: traefik
      services:
        - name: {{ .Release.Name }}
          port: {{ .Values.port }}
  tls:
    secretName: golden-wales-tls
{{- end }}
