---
#- name: Common tasks for all nodes | Disable swap
#  command: swapoff -a
#  ignore_errors: true
#
#- name: Common tasks for all nodes | Remove swap entry from /etc/fstab
#  command: sed -i '/swap/d' /etc/fstab

# Add more common tasks if needed

- name: Get IP address of master node
  set_fact:
    k8s_master_ip: "{{ hostvars['master1']['ansible_default_ipv4']['address'] }}"
  when: is_master | bool

- name: Master specific tasks | Initialize Kubernetes master
  command: kubeadm init --pod-network-cidr={{ k8s_pod_network_cidr }}
  when: is_master | bool

- name: Create .kube directory
  file:
    path: $HOME/.kube
    state: directory
    owner: "{{ ansible_user }}"
  when: is_master | bool

- name: Copy admin.conf to user's kube config
  copy:
    src: /etc/kubernetes/admin.conf
    dest: $HOME/.kube/config
    owner: "{{ ansible_user }}"
    mode: '0644'
  when: is_master | bool

- name: Worker specific tasks | Join Kubernetes worker to the cluster
  command: kubeadm join --token {{ k8s_token }} {{ k8s_master_ip }}:6443 --discovery-token-ca-cert-hash {{ k8s_token_ca_cert_hash }}
  when: is_worker | bool and not is_master | bool

# Add more master/worker specific tasks if needed
