---
# Common tasks for all nodes
# k3s is a single binary installer, so we don't need apt packages
- name: Check if curl is installed
  command: which curl
  register: curl_check
  ignore_errors: yes
  changed_when: false

- name: Fail if curl is not available
  fail:
    msg: "curl is required but not installed. Please install curl manually."
  when: curl_check.rc != 0

# Master node tasks
- name: Check if k3s is already installed on master
  stat:
    path: /usr/local/bin/k3s
  register: k3s_installed
  when: is_master | bool

- name: Install k3s on master node
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
      --disable traefik \
      --disable servicelb \
      --flannel-backend=none \
      --disable-network-policy \
      --write-kubeconfig-mode=644 \
      --cluster-cidr={{ k3s_cluster_cidr }} \
      --service-cidr={{ k3s_service_cidr }} \
      --node-taint node-role.kubernetes.io/master=true:NoSchedule" sh -
  when: is_master | bool and not k3s_installed.stat.exists

- name: Wait for k3s to be ready on master
  wait_for:
    path: /etc/rancher/k3s/k3s.yaml
    timeout: 60
  when: is_master | bool

- name: Get k3s node token from master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token_raw
  when: is_master | bool

- name: Set k3s token as fact
  set_fact:
    k3s_token: "{{ k3s_token_raw.content | b64decode | trim }}"
  when: is_master | bool

- name: Get master IP
  set_fact:
    k3s_master_ip: "{{ ansible_host }}"
  when: is_master | bool

- name: Share k3s token with all nodes
  set_fact:
    k3s_cluster_token: "{{ hostvars['ubuntu-node-1']['k3s_token'] }}"
  when: not is_master | bool

- name: Share master IP with all nodes
  set_fact:
    k3s_cluster_master_ip: "{{ hostvars['ubuntu-node-1']['k3s_master_ip'] }}"
  when: not is_master | bool

# Worker node tasks
- name: Check if k3s is already installed on worker
  stat:
    path: /usr/local/bin/k3s
  register: k3s_worker_installed
  when: is_worker | bool and not is_master | bool

- name: Install k3s on worker nodes
  shell: |
    curl -sfL https://get.k3s.io | K3S_URL=https://{{ k3s_cluster_master_ip }}:6443 \
      K3S_TOKEN={{ k3s_cluster_token }} \
      sh -
  when: is_worker | bool and not is_master | bool and not k3s_worker_installed.stat.exists

# Helm installation on master
- name: Check if helm is installed
  stat:
    path: /usr/local/bin/helm
  register: helm_installed
  when: is_master | bool

- name: Install Helm
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  when: is_master | bool and not helm_installed.stat.exists

- name: Create .kube directory for user
  file:
    path: "{{ ansible_env.HOME }}/.kube"
    state: directory
    owner: "{{ ansible_env.USER }}"
    mode: '0755'
  when: is_master | bool

- name: Copy kubeconfig to user directory
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "{{ ansible_env.HOME }}/.kube/config"
    owner: "{{ ansible_env.USER }}"
    mode: '0600'
    remote_src: yes
  when: is_master | bool

- name: Update kubeconfig server address
  replace:
    path: "{{ ansible_env.HOME }}/.kube/config"
    regexp: 'https://127.0.0.1:6443'
    replace: 'https://{{ ansible_host }}:6443'
  when: is_master | bool
