---
- name: Add HashiCorp repo and upgrade Nomad + Consul
  hosts: clients
  become: yes
  gather_facts: yes

  tasks:
    - name: Install required packages for apt over HTTPS
      apt:
        name:
          - wget
          - gpg
          - coreutils
        state: present
        update_cache: yes

    - name: Download HashiCorp GPG key
      get_url:
        url: https://apt.releases.hashicorp.com/gpg
        dest: /tmp/hashicorp.gpg
        mode: '0644'

    - name: Dearmor HashiCorp GPG key
      shell: gpg --dearmor < /tmp/hashicorp.gpg > /usr/share/keyrings/hashicorp-archive-keyring.gpg
      args:
        creates: /usr/share/keyrings/hashicorp-archive-keyring.gpg

    - name: Add HashiCorp APT repository
      apt_repository:
        repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
        state: present
        filename: hashicorp

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Check current Consul version
      command: consul version
      register: consul_old_version
      ignore_errors: yes
      changed_when: false

    - name: Check current Nomad version
      command: nomad version
      register: nomad_old_version
      ignore_errors: yes
      changed_when: false

    - name: Install/Upgrade Consul
      apt:
        name: consul
        state: latest
      notify: restart consul

    - name: Install/Upgrade Nomad
      apt:
        name: nomad
        state: latest
      notify: restart nomad

    - name: Check new Consul version
      command: consul version
      register: consul_new_version
      changed_when: false

    - name: Check new Nomad version
      command: nomad version
      register: nomad_new_version
      changed_when: false

    - name: Display version changes
      debug:
        msg:
          - "Consul: {{ consul_old_version.stdout_lines[0] | default('Not installed') }} -> {{ consul_new_version.stdout_lines[0] }}"
          - "Nomad: {{ nomad_old_version.stdout_lines[0] | default('Not installed') }} -> {{ nomad_new_version.stdout_lines[0] }}"

  handlers:
    - name: restart consul
      systemd:
        name: consul
        state: restarted

    - name: restart nomad
      systemd:
        name: nomad
        state: restarted
