apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ .Values.storageClass }}
  resources:
    requests:
      storage: {{ .Values.size }}
