---
  - name: Restart systemd-resolved
    ansible.builtin.systemd:
      name: systemd-resolved
      state: restarted

  - name: Restart Docker
    ansible.builtin.systemd:
      name: docker
      state: restarted

  - name: Restart Nomad
    ansible.builtin.systemd:
      name: nomad
      state: restarted

  - name: Restart Consul
    ansible.builtin.systemd:
      name: consul
      state: restarted