---
    - name: Check if CNI plugins are already extracted
      ansible.builtin.stat:
        path: /opt/cni/bin/loopback
      register: cni_plugins_stat
      tags:
        - install-nomad

    - name: Set CNI filename based on architecture
      set_fact:
        filename: "cni-plugins-linux-{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}-v1.0.0.tgz"
      when: not cni_plugins_stat.stat.exists
      tags:
        - install-nomad

    - name: Download CNI
      get_url:
        url: "https://github.com/containernetworking/plugins/releases/download/v1.0.0/{{ filename }}"
        dest: "/tmp/{{ filename }}"
      when: not cni_plugins_stat.stat.exists
      tags:
        - install-nomad

    - name: Ensure /opt/cni/bin directory exists
      ansible.builtin.file:
        path: /opt/cni/bin
        state: directory
        mode: '0755'
      become: yes
      when: not cni_plugins_stat.stat.exists
      tags:
        - install-nomad

    - name: Extract CNI plugins
      ansible.builtin.unarchive:
        src: "/tmp/{{ filename }}"
        dest: /opt/cni/bin
        remote_src: yes
      become: yes
      when: not cni_plugins_stat.stat.exists
      tags:
        - install-nomad
