{{- if .Values.vault.enabled }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ .Release.Name }}-credentials
spec:
  type: kv-v2
  mount: kv
  path: postgres
  destination:
    name: {{ .Release.Name }}-credentials
    create: true
  refreshAfter: 30s
  vaultAuthRef: {{ .Release.Name }}
{{- end }}
