---
- name: Install NFS client for Longhorn RWX volumes
  hosts: clients
  become: yes
  tasks:
    - name: Install nfs-common
      apt:
        name: nfs-common
        state: present
        update_cache: yes
